.watermark {
  display: none !important;
}

.editor-group-letterpress {
  background-position-y: calc(50%) !important;
  background-image: url(file:///Users/louis/.vscode/glider.svg) !important;
}

#status\.scm.statusbar-item.left:nth-of-type(3) {
  display: none;
}
